<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/tx  
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd  
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
           
           <bean id="childDao" class="com.lzl.child.dao.ChildDao">
           		<property name="sessionFactory" ref="sessionFactory"></property>
           </bean>
           <bean id="proveDao" class="com.lzl.child.dao.ProveDao">
           		<property name="sessionFactory" ref="sessionFactory"></property>
           </bean>
           <bean id="sickDao" class="com.lzl.child.dao.SickDao">
           		<property name="sessionFactory" ref="sessionFactory"></property>
           </bean>
           <bean id="healthDao" class="com.lzl.child.dao.HealthDao">
           		<property name="sessionFactory" ref="sessionFactory"></property>
           </bean>
           <bean id="birthDao" class="com.lzl.child.dao.BirthDao">
           		<property name="sessionFactory" ref="sessionFactory"></property>
           </bean>
           <bean id="deadreasonDao" class="com.lzl.child.dao.DeadreasonDao">
           		<property name="sessionFactory" ref="sessionFactory"></property>
           </bean>
           <bean id="deadDao" class="com.lzl.child.dao.DeadDao">
           		<property name="sessionFactory" ref="sessionFactory"></property>
           </bean>
           <bean id="protectDao" class="com.lzl.child.dao.ProtectDao">
           		<property name="sessionFactory" ref="sessionFactory"></property>
           </bean>
           <bean id="yimiaoDao" class="com.lzl.child.dao.YimiaoDao">
           		<property name="sessionFactory" ref="sessionFactory"></property>
           </bean>
           <bean id="usersDao" class="com.lzl.child.dao.UsersDao">
           		<property name="sessionFactory" ref="sessionFactory"></property>
           </bean>
</beans>